.body-home {
  width: 100%;
  height: 100%;
  background-image: url(../../../assets/images/digi-home.jpg);
  background-size: cover;
}

.title-home{
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  font-size: 100px;
  text-align: center;
}
