<body class="body-home">
  <h1 class="title-home">Proyecto Angular</h1>
  <div class="container-info">
  <p class="info-digi1">
    Dentro de la franquicia Digimon, los Digimon son criaturas digitales que
    digievolucionan para mejorar su nivel de poder y habilidades con respecto a
    su anterior forma.
  </p>
  <p class="info-digi2">
    Los Digimon se dividen según diferentes tipos o atributos, actuando o
    cumpliendo un determinado rol (como un programa informático) que pueden ser
    principalmente de tipo: datos, vacuna o virus.
  </p>
  <p class="info-digi3">El número de digievoluciones naturales llega hasta seis.</p>
  <p class="info-digi4">
    Normalmente los digimons habitan en el Mundo Digital, un mundo digital
    posiblemente ubicado en la red de comunicaciones. Los Digimon absorben
    información, por ejemplo de diversos enemigos, y, finalmente digievolucionan
    o bien, con el paso del tiempo y los sucesos.
  </p>
</div>
</body>
