<p>register works!</p>

<form novalidate (ngSubmit)="onSubmit()" [formGroup]="userRegisterForm">
  <fieldset>
    <label for="name2">Nombre:</label>
    <input type="text" id="name2" formControlName="username" />
    <div class="error-message" *ngIf="!userRegisterForm.get('username')?.valid &&
        (userRegisterForm.get('username')?.dirty || submitted)">
      <p *ngIf="userRegisterForm.get('username')?.errors?.['required']">
        El nombre es obligatorio
      </p>
      <p *ngIf="userRegisterForm.get('username')?.errors?.['minlength']">
        El nombre debe contener al menos 6 caracteres
      </p>
    </div>
  </fieldset>

  <fieldset>
    <label for="password2">Password:</label>
    <input type="password" id="password2" formControlName="password" />
    <div class="error-message" *ngIf="!userRegisterForm.get('password')?.valid &&
        (userRegisterForm.get('password')?.dirty || submitted)">
      <p *ngIf="userRegisterForm.get('password')?.errors?.['required']">
        La contraseña es obligatoria
      </p>
      <p *ngIf="userRegisterForm.get('password')?.errors?.['pattern']">
        La contraseña debe contener una minuscula, una mayuscula, un dígito y al menos 8 caracteres
      </p>
    </div>
  </fieldset>

  <fieldset>
    <label for="passwordRepeat2">Repeat password:</label>
    <input type="password" id="passwordRepeat2" formControlName="passwordRepeat" />
    <div class="error-message" *ngIf="!userRegisterForm.get('passwordRepeat')?.valid &&
        (userRegisterForm.get('passwordRepeat')?.dirty || submitted)">
      <p *ngIf="userRegisterForm.get('passwordRepeat')?.errors?.['required']">
        El contraseña es obligatorio
      </p>
      <p *ngIf="userRegisterForm.get('passwordRepeat')?.errors?.['pattern']">
        La contraseña debe contener una minuscula, una mayuscula, un dígito y al menos 8 caracteres
      </p>
      <p *ngIf="userRegisterForm.get('passwordRepeat')?.errors?.['mustMatch']">
        Las contraseñas no coinciden
      </p>
    </div>
  </fieldset>

  <button type="submit">Submit</button>
  <p>Disabled: {{ !userRegisterForm.valid }}</p>

</form>


<div>
  <a [routerLink]="['/home']">Atrás</a>
</div>
