*{
  margin: 0;
  padding: 0;
}

.container-form{
  background-color: rgb(1,77,223);
  height: 70vh;
}

.register-title{
  text-decoration: underline wavy rgb(210, 238, 74);
  color: rgb(255, 102, 0);
  font-size: 25px;
  font-family: Comic Sans, Comic Sans MS, cursive;
  text-align: center;
  padding-bottom: 30px;
}

.register-form {
    width:300px;
    padding:16px;
    border-radius:10px;
    margin:auto;
    background-color:rgb(255,102,0);
    font-family: Comic Sans, Comic Sans MS, cursive;
    color: rgb(1,77,223);
}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}

a {
  text-decoration: none;
  font-family: Comic Sans, Comic Sans MS, cursive;
  color: rgb(255,102,0);
  font-size: 25px;
}

a:hover {
  text-decoration: none;
  font-family: Comic Sans, Comic Sans MS, cursive;
  color:  rgb(255,102,0);
  text-shadow: 0.1em 0.1em 0.05em rgb(210, 238, 74);

}

.error-message{
  color: rgb(210, 238, 74);
}
